@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{

  font-family: 'Poppins',sans-serif;
}
body{
	margin: 0;
}
.NavigationBar{
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	background-color: #333;
	width: 100%;
	overflow: hidden;
	top: 0;
}
.NavigationBar h3{
	color: #ddd;
	font-size: 25px;
}
.NavigationBar a,img{
	color: #f2f2f2;
	text-align: center;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}
.NavigationBar a:hover{
	background: #ddd;
	color: black;
}
