@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{

  font-family: 'Poppins',sans-serif;
}
body{
  height: all ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
background-color: #333;
}
.SignUpForm{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  /*margin-top: 8%;*/
}
.SignUpForm .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.SignUpForm .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  border-radius: 5px;
background-color: #333;
}
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 70%;
   margin-left: 90px;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
  background-color: #333;
 }
 form .button input:hover{
 background-color: #ddd;
 color: #333;
 }
input#photo{

  display: none;  
}
input#photo + label{
 background-color: #333;
 border-radius: 5px;
  color: #fff;    
  width: 30%;
  font-size: 20px;
}
.button h3{
  background-color: #333;
  width: 20%;
  margin-left: 10px;
}
.content form .UserInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .UserInfo .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.UserInfo .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
textarea{
  border-radius: 4px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    font-size: 18px;
}